<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="shortcut icon" href="#">
  <title>Home</title>
</head>
<body>
  <div class="main-content">
    {{>header}}
  <div class="central-content">
    <p>
      Use this site to get your weather
    </p>

      <form>
        <input placeholder="Search for location">
        <button>SERACH</button>

        <p id="weatherMsg1"></p>
        <p id="weatherMsg2"></p>
        <img id="icon" src=""></img>
      </form>
  </div>
  </div>

  {{>footer}}

  <script src="/js/app.js"></script>
</body>
</html>